In [2]:
import sqlite3
import pandas as pd
import csv

In [8]:
conn = sqlite3.connect("Obesity.db") 
cur = conn.cursor()

In [9]:
create_table = """CREATE TABLE Obesity(
                        id INTEGER PRIMARY KEY,
                        Age    INTEGER,	
                        Gender  TEXT,
                        Height  INTEGER,
                        Weight	INTEGER,
                        BMI	FLOAT,
                        Label   TEXT);
                """

cur.execute(create_table)

In [10]:
pd.read_sql_query("select * from Obesity",conn)

Empty DataFrame
Columns: [id, Age, Gender, Height, Weight, BMI, Label]
Index: []

In [11]:
Obesity = pd.read_csv("Obesity.csv")
Obesity.to_sql("Obesity",conn,if_exists="replace", index= False)

108

In [12]:
pd.read_sql_query("select * from Obesity",conn)

      ID  Age  Gender  Height  Weight   BMI          Label
0      1   25    Male     175      80  25.3  Normal Weight
1      2   30  Female     160      60  22.5  Normal Weight
2      3   35    Male     180      90  27.3     Overweight
3      4   40  Female     150      50  20.0    Underweight
4      5   45    Male     190     100  31.2          Obese
..   ...  ...     ...     ...     ...   ...            ...
103  106   11    Male     175      10   3.9    Underweight
104  107   16  Female     160      10   3.9    Underweight
105  108   21    Male     180      15   5.6    Underweight
106  109   26  Female     150      15   5.6    Underweight
107  110   31    Male     190      20   8.3    Underweight

[108 rows x 7 columns]

In [13]:
conn.commit()
conn.close()